@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root{
    
--Bright-orange: hsl(31, 77%, 52%);
--Dark-cyan: hsl(184, 100%, 22%);
--Very-dark-cyan: hsl(179, 100%, 13%);

--paragraphs: hsla(0, 0%, 100%, 0.75);
--background-headings-buttons: hsl(0, 0%, 95%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, button{
    font-family: "Lexend Deca", sans-serif;
}
h1{
  font-size: 30px;
  font-family: "Big Shoulders Display";
  text-transform: uppercase;
}
p{
  font-size: 15px;
  line-height: 1.8;
}

button{
  background-color: #fff;
  border: 2px solid white;
  border-radius: 30px;
  padding: 10px 25px;
  transition: all 0.4s ease-in-out;
}


#card1{
  background-color: var(--Bright-orange);
  color: white;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

#card1 button{
  color: var(--Bright-orange);
}
#card1 button:hover{
  background-color: transparent;
  color: white;
  cursor: pointer;
}
#card2{
  background-color: var(--Dark-cyan);
  color: white;
}
#card2 button{
  color: var(--Dark-cyan);
}
#card2 button:hover{
  background-color: transparent;
  color: white;
  cursor: pointer;
}
#card3{
  background-color: var(--Very-dark-cyan);
  color: white;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
#card3 button{
  color: var(--Very-dark-cyan);
}
#card3 button:hover{
  background-color: transparent;
  color: white;
  cursor: pointer;
}
.container{
  padding: 20px;
}
.card{
  padding: 30px;
}
.card img{
  margin-bottom: 30px;
}
.card h1{
  margin-bottom: 20px;
}
.card p{
  margin-bottom: 30px;
}


.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  @media (min-width: 922px) {
    .container{
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      max-width: 900px;
      margin: auto;
    }
    .card{
      
    }
    #card1{
      border-radius: 1.5rem 0 0 1.5rem;
    }
    #card3{
      border-radius: 0 1.5rem 1.5rem 0;
    }
    .card p{
      margin-bottom: 100px;
    }
  }